/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


.zt-dcfcf-front-list{
	display: block;
	overflow-x: scroll;
    border: 1px solid;
}

.zt-dcfcf-front-list .heading{
    background: #fff;
    border-bottom: 2px solid #000;
    font-weight: bold;
}

.zt-dcfcf-front-list th, .zt-dcfcf-front-list td{
	min-width:120px;
}

.zt-dcfcf-pagination ul.page-numbers {
    text-align: center;
}

.zt-dcfcf-pagination li {
    display: contents;
    border: 1px solid black;
}

.zt-dcfcf-pagination li span, .zt-dcfcf-pagination li a {
    border: 1px solid black;
    padding: 10px;
    color: #000;
    text-decoration: none !important;
}

.zt-dcfcf-pagination span.page-numbers.current {
    background: #000;
    color: #fff;
}

.zt-dcfcf-pagination span.page-numbers.dots {
    border: none;
}

.zt-dcfcf-pagination